/* Reset CSS para garantir uma base consistente em todos os navegadores */
html, body, div, h1, h2, h3, p, ul, li, form, input, textarea, button {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
   background-color: #ffffff;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

header {
    background-color: #a238ff;
    padding: 20px 0;
    width: 100%;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #e6112e;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #e6112e;
}

main {
    background-color: #e6112e;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 800px;
}

/* Estilos específicos para páginas individuais */
h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #007bff;
}

/* Estilos para botões */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e6112e;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
}

.btn:hover {
    background-color: #0056b3;
}

/* Estilos para links de artigos */
.btn-link {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease;
}

.btn-link:hover {
    color: #0056b3;
}

/* Responsividade */
@media screen and (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }


/* ... Outros estilos ... */

/* Estilos para campos de formulário */
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}


.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 5px;
}

.input-field,
.textarea-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
}

.input-field:focus,
.textarea-field:focus {
    outline: none;
    border-color: #0056b3;
}

/* ... Outros estilos ... */


}
